.box1{
    padding-top: 40px;
}
.caption{
    font-size: 20px;
    color: #474747;
}
.pubc-box1{
    margin-top: 2px;
    width: 102%;
    margin-left: -1%;
}
ul,li{
    list-style: none outside none;
    padding: 0;
}
.pubc-box1 li{
    float: left;
    margin-left: 15px;
    cursor: pointer;
    border: 1px solid #cccccc;
    border-radius: 5px;
    width: 160px;
    height: 38px;
    line-height: 38px;
    font-size: 14px;
    margin-top: 14px;
    text-align: center;
}
a{
    text-decoration: none;
}
.pubc-box1 li a{
    display: block;
    color: #333;
    position: relative;
}

